.experience-container-desktop {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 70%;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius: 10px;
  padding-bottom: 80px;
  margin: 30px;


  h1 {
    font-weight: 400;
    width: 100%;
    color: #212121;
    margin-bottom: 50px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card-container {
      width: 400px;
      align-items: left;
      text-align: left;
    }
  }
}