.experience-container-desktop {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  background-color: #f9faff;
  width: 100%;
  min-height: 70vh;
  margin-top: 0px;

  h1 {
    margin-top: 50px;
    font-weight: 300;
    width: 100%;
    color: #212121;
    margin-bottom: 20px;
  }

  .experience-container-card {
    width: 65%;
    padding-bottom: 40px;
   
    .gallery {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .card-container {
        width: 80%;
        align-items: left;
        text-align: left;
      }
    }
  }

}