.home-container-desktop {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url('../../assets/img/home-desktop.png');
  background-size: cover;

  .text-container {
    margin-top: -100px;
    .name {
      font-size: 6.5vh;
      font-weight: 400;
      color: white;
      margin-bottom: -10px;
      -webkit-animation: fadein 1s; 
      -moz-animation: fadein 1s; 
      -ms-animation: fadein 1s; 
      -o-animation: fadein 1s; 
      animation: fadein 1s;
    }

    .subtext {
      p {
        margin-left: 10px;
        margin: 4px;
        font-size: 3vh;
        color: white;
        -webkit-animation: fadein 2s; 
        -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
        -o-animation: fadein 2s; 
        animation: fadein 2s;
      }
    }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}

