.project-container-desktop {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 70%;
  background-color: white;
  padding-bottom: 80px;
  border-radius: 10px;
  margin: 30px;

  h1 {
    font-weight: 400;
    width: 100%;
    color: #212121;
    margin-bottom: 50px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card-container {
      width: 350px;
      align-items: left;
      text-align: left;
    }
  }
}