
.experience-container-mobile{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
  }

  .card-container {
    width: 95%;
    align-items: left;
    text-align: left;
  }
}